footer {
  background-color: var(--graycolor);
  width: 100%;
  min-height: 11.5vh;
  h6 {
    padding: 2rem;
    color: white;
  }
}
@media screen and(max-width:768px) {
  footer {
    min-height: 16vh;
  }
}
