.hoursSection {
  background: url("../../img/stats.jpg");
  height: 33vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-color: rgba(#000000, 0.85);
  background-blend-mode: color;
}
.hoursContainer {
  display: flex;
  justify-content: space-around;
  color: white;
  text-align: center;
  h2 {
    font-size: 2.5rem;
    color: var(--bluecolor);
    font-weight: bold;
  }
  p {
    font-size: 1.2rem;
  }
}
.item {
  margin: 3rem;
  padding: 2rem;
  width: 100%;
}
@media screen and(max-width:768px) {
  .hoursSection {
    height: 80vh;
  }
  .item {
    margin: 0;
    padding: 1rem;
  }
}
